.container{
  display: grid;
  grid-template-columns: 600px 800px;
  box-shadow: 2px 2px 2px grey;
  margin-right: -8px;
  margin-left: -10px;
  height:60px;
}
.nav-2-container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  margin-top: 14px;
}
.jobs{
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
}
.companies{
  font-weight: bold;
  font-size: 16px;
  margin-left:-15px;
  font-family: arial;
}
.blog{
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
  font-family: arial;
}
.login{
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
}
.button-register{
  background-color: white;
  padding:10px 16px;
  border: 2px solid rgb(0, 94, 255);
  border-radius: 20px;
  color: rgb(0, 94, 255);
  font-weight: bold;
  margin-top: -6px;
}
.employee{
  font-family: arial;
  margin-left: 24px;
}
.body-container{
  background-color: rgb(13, 57, 253);
  height: 500px;
  margin-top:-16px;
  margin-left: -10px;
  margin-right: -370px;
}
.image{
  height: 60px;
}
.job-search{
  margin-top: 20px;
  padding-top: 30px;
  margin-left: 500px;
  color:white;
  font-size: 18px;
  font-family: monospace;
}
.inner-div{
  background-color: white;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  margin-left: 30px;
  padding-left: 10px;
  width:1150px;
  border-radius: 10px;
  height:120px

}
.keywords{
  font-weight: bold;
  padding-left:20px;
  padding-top:10px;
  font-family:arial;
  font-size: 15px;
}
.lokking{
  padding-left:20px;
  font-family: arial;
  font-size: 15px;
  margin-top:-6px;
  color:rgb(209, 209, 209);
  border:none;

}
.lokking::placeholder{
color:rgb(209, 209, 209);
}
.job-location{
  font-weight: bold;
  padding-left:20px;
  padding-top:10px;
  font-family:arial;
  font-size: 15px;
}
.what-do-you-want{
  padding-left:20px;
  font-family: arial;
  font-size: 15px;
  margin-top:6px;
  color:rgb(209, 209, 209);
  cursor:pointer;
}
.job-category{
  font-weight: bold;
  padding-left:20px;
  padding-top:10px;
  font-family:arial;
  font-size: 15px;
}
.identity{
  padding-left:20px;
  font-family: arial;
  font-size: 15px;
  margin-top:6px;
  color:rgb(209, 209, 209);
  cursor: pointer;
}
.search-button{
  margin-top: 20px;
  background-color: rgb(0, 110, 255);
  color:white;
  border:none;
  padding:14px 30px;
  border-radius:6px;
  font-weight:600;
  cursor: pointer;
margin-left: -60px;
font-size:18px
}
.search{
  font-weight:600;
   
}
.time-container{
  display: grid;
  grid-template-columns: 147px 147px 147px 147px 147px 147px;
  margin-left: 110px;
  margin-top: 30px;
}
.full-time{
  background-color: white;
  padding-left:20px;
  font-family: arial;
padding-top:10px;
border-radius:5px ;
}
.part-time{
  background-color: white;
  padding-left:20px;
  font-family: arial;
padding-top:10px;
border-radius:5px ;
margin-left: 20px;
width:80px;
}
.book-time{
  background-color: white;
  padding-left:20px;
  font-family: arial;
padding-top:10px;
border-radius:5px ;
margin-left: 40px;
width:85px;
}
.visa-time{
  background-color: white;
  padding-left:20px;
  font-family: arial;
padding-top:10px;
border-radius:5px ;
margin-left: 65px;
width:90px;
}

.no-time{
  background-color: white;
  padding-left:20px;
  font-family: arial;
padding-top:10px;
border-radius:5px ;
margin-left: 95px;
width:90px;
}
.over-time{
  background-color: white;
  padding-left:20px;
  font-family: arial;
padding-top:10px;
border-radius:5px ;
margin-left: 125px;
width:90px;
}
.time-icon{
  font-size:20px;
  margin-left: 15px;
  color:rgb(0, 64, 255);
}
.full-timep{
  margin-top: 6px;
  margin-left: -8px;
}
.key-container{
  border-right:1px solid rgb(226, 226, 226);
  margin-top: 8px;
  margin-bottom: 360px;
}
.job-container{
  border-right:1px solid rgb(226, 226, 226);
  margin-top: 8px;
  margin-bottom: 360px;
  margin-right: 80px;
}
.location-contaier{
  border-right:1px solid rgb(226, 226, 226);
  margin-top: 8px;
  margin-bottom: 360px;
  margin-right: 80px;
}