.container{
  display: grid;
  grid-template-columns: 600px 800px;
}
.nav-2-container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  margin-top: 20px;
}
.jobs{
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
}
.companies{
  font-weight: bold;
  font-size: 16px;
  margin-left:-15px;
  font-family: arial;
}
.blog{
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
  font-family: arial;
}
.login{
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
}
.button-register{
  background-color: white;
  padding: 5px 10px;
  border: 2px solid rgb(0, 94, 255);
  border-radius: 15px;
  color: rgb(0, 94, 255);
  font-weight: bold;
}
.employee{
  font-family: arial;
}
.body-container{
  background-color: rgb(13, 57, 253);
  height: 400px;
  margin-top:-10px;
  margin-left: -10px;
  margin-right: -10px;
}
.image{
  height: 60px;
}
.job-search{
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  color:white;
  font-size: 18px;
  font-family: monospace;
}